# Virtual environments
.venv/
venv/
ENV/
VENV/

# IDE files
.idea/
.vscode/

# Build directories
package/
build/
dist/
spec/
*.egg-info/
__pycache__/
*.py[cod]
*$py.class

# Icon build directory
tilt_monitor/assets/tilt.iconset/
*.icns

# Logs
*.log
*.log.old
.DS_Store
tmp.*
